.samples-qc_gel-imager-rna,.samples-qc_gel-imager-rna-done {
input.btn.imager {
  opacity: 0; 
  width: 5em;
}

.btn.imager {
  cursor: pointer;
}

.linear-process button.select {
  margin-right: -65px;
}

.linear-process input.imager {
  padding: 0 0;
}

button.imager {
  margin-right: 5px;
}

div.imager {
margin-top: 1.5em;
}

div.resource {
	height: 15em;
}
.linear-process.imager { text-align: center; }

button.imager {
	z-index: 1001;
}

.filename {
  float: right;	
}
}
