header {
  @extend .container;
}

#alertContainer {
  min-height: 4em;
}

ol.labware-selection {
    vertical-align: middle;
  li {
    vertical-align: middle;
  }

  li .resource {
  }
}

svg text {
  font-size: 10px;
}

.labwareRow {

}

.transferArrow {
  font-size: 5em;
  padding-top: 1em;
}

.title {
  height:2em;
}

.rowDisabled {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 3;
  display: none;
}

.busyClass {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .busyBox {
    padding: 0px 0px 10px 0px;
    width: 300px;
    height: 80px;
    text-align: center;
    position: absolute;
    background: #eee;
    border-radius: 20px;
    border: 2px solid #ddd;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
  }
  .busyText {
    padding-top: 35px;
    padding-left: 20px;
    float: left;
    font-weight: lighter;
    font-size: 24px;
    color: #333;
  }
  .busySpin {
    float: right;
    padding-top: 90px;
    padding-right: 90px;
  }
  .busyBoxMask {
    position: absolute;
    opacity: 0;
  }
  .innerElement {
    opacity: 0.6;
  }
}

.legend {
  display: none;
  @extend .unstyled;
  @extend .inline;
  li {
    text-align: center;
    font-size: 75%;
    color: white;
    border-radius: 25px;
    width: 35px;
    height: 20px;
    padding: 12px;
  }
}
.RackScanModel              .legend.contents         { display: block; }
.VolumeCheckModel.pre-file  .legend.contents         { display: block; }
.VolumeCheckModel.post-file .legend.quality          { display: block; }
.NanoDropModel.pre-file     .legend.contents         { display: block; }
.NanoDropModel.post-file    .legend.presence-absence { display: block; }

div.resource {
  height: 180px;
  &:empty { height: auto; }

  .unused          { fill: #d40000; background-colour: #d40000; stroke: #000000; opacity: 0.6; }


  .tube .empty { display: none; }
}

  .empty             { fill: #f5f5f5; background-color: #f5f5f5; }
  .full              { fill: #5bb75b; background-color: #5bb75b; }
  .resource-not-data { fill: #49afcd; background-color: #49afcd; }
  .data-not-resource { fill: #da4f49; background-color: #da4f49; }
  .resource-and-data { fill: #5bb75b; background-color: #5bb75b; }

  .error     { fill: #ff0000; background-color: #ff0000; }
  .very-poor { fill: hsl(120, 100%, 75%); background-color: hsl(120, 100%, 75%); }
  .poor      { fill: hsl(120, 100%, 50%); background-color: hsl(120, 100%, 50%); }
  .good      { fill: hsl(120, 100%, 30%); background-color: hsl(120, 100%, 30%); }
  .very-good { fill: hsl(120, 100%, 20%); background-color: hsl(120, 100%, 20%); }
  .excellent { fill: hsl(120, 100%, 10%); background-color: hsl(120, 100%, 10%); }

  .dna   { fill: hsl(120, 45%, 58%);  background-color: hsl(120, 45%, 58%); }
  .dna_p { fill: hsl(120, 34%, 25%);  background-color: hsl(120, 34%, 25%); }
  .rna   { fill: hsl(3, 60%, 46%);    background-color: hsl(3, 60%, 46%); }
  .rna_p { fill: hsl(3, 60%, 25%);    background-color: hsl(3, 60%, 25%); }
  .na_p  { fill: hsl(194, 59%, 45%);  background-color: hsl(194, 59%, 45%); }

// Import component specific styles
@import "../scripts/app-components/dropzone/_styles";
@import "../scripts/app-components/process-choice/_styles";
@import "../scripts/app-components/re-racking/_styles";
@import "../scripts/app-components/labelling/_styles";
