header, #content {
    @extend .container;
}

ol.labware {
  font-weight: bold;
  font-size: 24px;
  list-style-position: inside;
  margin-left:0px;
  li {
    padding: 0px 10px 5px 0px;
  }
  li:nth-child(odd) {
    background-color: #f9f9f9;
  }
}

svg text{
  font-size:10px;
}

.removeButton {
    @extend .btn;
    @extend .btn-small;
    @extend .pull-right;
    margin: 5px;
}

ul{
  list-style-type: none;
}

.kitSelect{
  margin-top: 20px;
}

#kitPageHeader{
  margin-top: 20px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  .kitSelection{
    float: left;
    overflow: auto;
  }
  .validationSection{
    float: right;
    overflow: auto;
  }
}

.kitPrintButton{
  float: right;
}

.dropzoneBox{
  background: #f5f5f5;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  border: 3px #eeeeee dashed;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}
.dropzoneBox.hover{
  background: #e0e0e0;
}

.labwareDisplay input{
  width: 10em;
}

.labwareRow{
  position: relative;
  li{
    position: relative;
  }
  .containerList{
    overflow: auto;
  }
  .containerElement{
    float: left;
  }
  .transferArrow{
    font-size: 6em;
    padding-top: 100px;
  }
}
.rowDisabled{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 3;
  display: none;
}
.labware1,.labware2{
  min-width: 17em;
}
.printerSelect{
  margin-right: 20px;
}
#alertContainer{
  .alert{
    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .fade {
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }
  .fade.in {
    opacity: 1;
  }
}
