body,html {
  height: 100%;
}

header, #content {
  @extend .container;
}

body, html {
  height:100%;
}

#content {
  height: 100%;
}

ol.labware {
  font-size: 24px;
  list-style-position: inside;
  margin-left: 0px;
  li {
    padding: 0px 10px 5px 0px;
  }

  li .resource {
    vertical-align: middle;
    display: inline-block;
  }

  li:nth-child(odd) {
    background-color: #f9f9f9;
  }
  li:before, li:after {
    content: none;
  }
}

svg text {
  font-size: 10px;
}

.removeButton {
  @extend .btn;
  @extend .btn-small;
  @extend .pull-right;
  margin: 5px;
}

ul {
  list-style-type: none;
}

.kitSelect {
  margin-top: 20px;
}

#kitPageHeader {
  margin-top: 20px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  .kitSelection {
    float: left;
    overflow: auto;
  }
  .validationSection {
    float: right;
    overflow: auto;
  }
}

.kitPrintButton {
  float: right;
}

.twoColumns {
  overflow: auto;
  .columnLeft {
    float:left;
    width: 50%;
  }
  .columnRight {
    float:right;
    width: 50%;
    .extraVTab {
      margin-top: 8em;
    }
  }
}


.dropzoneBox {
  background: #f5f5f5;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  border: 3px #eeeeee dashed;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}

.dropzoneBox.hover {
  background: #e0e0e0;
}

.labwareDisplay input {
  width: 10em;
}

.labwareRow {
  position: relative;
  li {
    position: relative;
  }
  .containerList {
    overflow: auto;
  }
  .containerElement {
    float: left;
  }
  .transferArrow {
    font-size: 6em;
    padding-top: 60%;
  }
}

.rowDisabled {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 3;
  display: none;
}

.labware1, .labware2 {
  min-width: 17em;
}

.printerSelect {
  margin-right: 20px;
}

.printer-div {
  label {
    display: inline;
  }
}

.busyClass {
  margin-left: auto;
  margin-right: auto;
  position:relative;
  .busyBox {
    padding: 0px 0px 10px 0px;
    width: 300px;
    height:80px;
    text-align: center;
    position: absolute;
    background: #eee;
    border-radius: 20px;
    border: 2px solid #ddd;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
  }
  .busyText {
    padding-top: 35px;
    padding-left: 20px;
    float:left;
    font-weight: lighter;
    font-size: 24px;
    color:#333;
  }
  .busySpin {
    float:right;
    padding-top: 90px;
    padding-right: 90px;
  }
  .busyBoxMask {
    position: absolute;
    opacity: 0;
  }
  .innerElement {
    opacity: 0.6;
  }
}

#alertContainer {
  height: 60px;

  .alert{
    margin-bottom: 0px;
    padding: 4px 0;
  }
  .fade {
    transition: opacity 0.3s linear;
  }
  .fade.in {
    opacity: 1;
  }
}

div.row0 .title {
  display: block;
}

#buttonRack {
  float: right;
}

table {
  tr.selectedRow {
    background: #90ee90;
  }
  tr.disabledRow {
    background: rgb(196,196,196);
    color:rgb(247,247,247);
    font-style: italic;
  }
  td{
    padding: 0.7em;
  }
  th{
    padding: 0.7em;
    background: rgb(247, 239, 187);
    opacity: 0.9;
    font-style: normal;
    color:#000000;
    font-size: 1.0em;
  }
}

div.reception-component {
  width: 100%;
  height: 100%;
  position: relative;
}

div.manifest {
  clear: both;
  position: absolute;
  left: 100%;
  display: none;
  width: 100%;
  height: 100%;
}

div.manifest-btn {
  border: 6px solid #808080;
  border-radius: 16px;
  width: 20em;
  height: 100px;
  margin: auto;
  clear: both;
  position: relative;
  display: table;
}

div.manifest-btn-text-box {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3em;
}

div.choice-box {
  position: relative;
  height: 300px;
  float: left;
  overflow: hidden;
  width: 47%;
  left: 2%;
  display: table;
}

#choice {
  clear: both;
  float: left;
  width: 100%;
  position: absolute;
  overflow: auto;
}

div.choices {
  clear: both;
  float: left;
  width: 100%;
  position: relative;
  right: 0;
}

div.position-aid-box {
  float: left;
  height: 50%;
  margin-bottom: -50px;
}

div.header-box {
  height: 6em;
}

#arrow-image {
  width: 4em;
}

div.component {
  height: 100%;
  width: 100%;
  position: relative;
}

div.template-selection-box {
//  border: 1px dashed #444444;
  border-radius: 8px;
  display: block;
  padding: 10px;
  margin: 8px 8px 8px 0px;
}

div.number-of-samples-box {
  display:inline-block;
  margin-top: 100px;
}

#generateManifest {
  display: block;
}