header, #content {
    @extend .container;
}

ol.labware {
  font-weight: bold;
  font-size: 24px;
  list-style-position: inside;
  margin-left:0px;
  li {
    padding: 0px 10px 5px 0px;
  }
  li:nth-child(odd) {
    background-color: #f9f9f9;
  }
}

svg text{
  font-size:12px;
}

.removeButton {
    @extend .btn;
    @extend .btn-small;
    @extend .pull-right;
    margin: 5px;
}

ul{
  list-style-type: none;
}

.kitSelect{
  margin-top: 20px;
}

#kitPageHeader{
  margin-top: 20px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
}

.kitPrintButton{
  float: right;
}

.labwareDisplay input{
  width: 10em;
}

.labwareRow{
  position: relative;
  li{
    position: relative;
  }
}
.rowDisabled{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 3;
  display: none;
}

.labware1,.labware2{
  min-width: 17em;
  margin-right: 1em;
}
