header {
  @extend .container;
}

#alertContainer {
  min-height: 4em;
  
  width: 100%;
  .alert {
    margin: 0.5em auto;
    width: 80%;
  }
}

.selection-button-footer {
  position: fixed;
  bottom: 0.5em;
  width: 100%;
  div {
    width: 90%;
    margin: 0 auto 0 auto;
  }
}

.affix {
  top: 0;
  z-index: 1000;
}

ol.labware-selection {
    vertical-align: middle;
  li {
    vertical-align: middle;
  }

  li .resource {
  }
}

svg text {
  font-size: 25px;
}

.labwareRow {

}

.transferArrow {
  font-size: 5em;
  padding-top: 1em;
}

.title {
  height:2em;
}

.rowDisabled {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 3;
  display: none;
}

.busyClass {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .busyBox {
    padding: 0px 0px 10px 0px;
    width: 300px;
    height: 80px;
    text-align: center;
    position: absolute;
    background: #eee;
    border-radius: 20px;
    border: 2px solid #ddd;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
  }
  .busyText {
    padding-top: 35px;
    padding-left: 20px;
    float: left;
    font-weight: lighter;
    font-size: 24px;
    color: #333;
  }
  .busySpin {
    float: right;
    padding-top: 90px;
    padding-right: 90px;
  }
  .busyBoxMask {
    position: absolute;
    opacity: 0;
  }
  .innerElement {
    opacity: 0.6;
  }
}

.RackScanModel div.resource { width: auto; }
.bed-recording .labware2 { display: none; }
.bed-recording .labware1 { display: none; }
.RackScanModel              .legend.contents         { display: block; }
.VolumeCheckModel.pre-file  .legend.contents         { display: block; }
.VolumeCheckModel.post-file .legend.quality          { display: block; }
.NanoDropModel.pre-file     .legend.contents         { display: block; }
.NanoDropModel.post-file    .legend.presence-absence { display: block; }

// Import component specific styles
@import "../scripts/app-components/imager/_styles";
@import "../scripts/app-components/scanning/_styles";
@import "../scripts/app-components/dropzone/_styles";
@import "../scripts/app-components/process-choice/_styles";
@import "../scripts/app-components/re-racking/_styles";
@import "../scripts/app-components/labelling/_styles";
@import "../scripts/app-components/labware/_styles";
@import "../scripts/app-components/lysing/_styles";
@import "../scripts/app-components/gel-scoring/_styles";
@import "../scripts/app-components/inbox/_styles";
