$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

#page-nav {
  display: none;
}

.labware-barcode, .labware-barcode-header {
  display: none;
}

.login-success {
  #page-nav {
    display: block;
  }
  .user-barcode, .user-barcode-header {
    display: none;
  }
  .labware-barcode, .labware-barcode-header {
    display: block;
  }  
    
}


@import 'sass-bootstrap/lib/bootstrap';
@import "pipeline";
