/*body {
  padding-bottom: 40px;
}

ul, li {
  list-style-type: decimal;
}

#pageTitle {
  position: absolute;
  top: 0em;
}

#titleLogo {
  float: left;
  margin-right: 3em;
}

#titleText {
  float: right;
  text-shadow: 2px 2px 2px #999;
}
*/
