<div class="gel-scoring-view table-responsive">
    <input class="barcode" type="text" value="<%= barcode %>" />
  <input data-action-s2="download" type="button" value="Download image" />
  <table class="table-bordered table-condensed">
    <tbody>
    <tr><td></td>
        <% _.each(xLabels, function(labelx) { %> 
            <td> <%= labelx+1 %> </td> 
        <% }) %></tr>
        <% _.each(yLabels, function(labely) { %> 
            <tr><td> <%= labely %> </td> 
                <% _.times(xLabels.length, function(pos) { %>
                  <td data-position-s2="<%= labely %><%= xLabels[pos]+1 %>">
                    <select class="gel-scoring-cell">
                        <option name="score" value="pass">Pass</option>
                        <option name="score" value="fail">Fail</option>
                        <option name="score" value="degraded">Degraded</option>
                        <option name="score" value="partial">Partial</option>
                    </select>
                  </td>
                <% }) %> 
            </tr>
        <%  }) %>
    </tbody>
  </table>
  <input data-action-s2="save" type="button" value="Save" />
  <br />
  <br />
  <br />
  <br />
</div>