/temp
/dist
.sass-cache/**
.DS_Store
.idea/**
.settings/**
.gitignore
*~
app/components
/components
*.orig
/node_modules
.tmp/**
app/scripts/config.js
app/scripts/pipeline_config.json
app/scripts/pipeline_config-DO_NOT_DIRECTLY_EDIT.json
