<div id="reracking" class="accordion">
  <div class="accordion-group">
    <h4 class="accordion-heading">1 - Scan the rack barcodes</h4>

    <div id="rack-selection" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div id="barcodeReader"></div>
          <ul id="rack-list" class="unstyled"></ul>
          <button type="button" id="start-rerack-btn" class="btn btn-primary">Start reracking</button>
      </div>
    </div>
  </div>


  <div class="accordion-group">
    <div class="accordion-heading"><h4>2 - Print barcode for the new rack</h4></div>

    <div id="rack-labelling" class="accordion-body collapse">
      <div class="accordion-inner">

        <label for="printer-select">Current Printer:</label>
        <select class="printerSelect" id="printer-select">
          <% _.each (templateData.printerList, function (printer) { %>
          <option value="<%- printer.name %>"><%- printer.name %></option>
          <% }); %>
        </select>
        <button id="print-rerack-btn" class="btn btn-primary">Print new rack barcode</button>
      </div>
    </div>
  </div>


  <div class="accordion-group">
    <h4 class="accordion-heading">3 - Scan new rack</h4>

    <div id="racking-file-upload" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="dropzone">
          <input type="file" accept="text/csv" class="hiddenFileInput hide">
          <div class="dropzoneBox"><i class="icon-file"></i>Drop the file here, or click.</div>
          <div class="labware output-labware"></div>
        </div>
        <button id="rerack-btn">Re-Rack Tubes</button>
      </div>
    </div>
  </div>


</div>

