<% if (manifest.errors.length > 0) { %>
  <div class="validationText alert alert-error">
    <ul class="unstyled">
      <% _.each(manifest.errors, function(error) { %><li><%= error %></li><% }); %>
    </ul>
  </div>
<% } %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% _.each (headers, function (item) { %><th><%- item %></th><% }); %>
    </tr>
  </thead>
  <tbody>
<% _.each(manifest.tubes, function(details) { %>
    <% if (details.errors.length > 0) { %><tr class="error"><% } else { %><tr class="success"><% } %>
      <% _.each(details.views, function(view) { %><td><%= view %></td><% }); %>
    </tr>
  <% if (details.errors.length > 0) { %>
    <tr class="error text-error">
      <td colspan="<%= headers.length %>">
        <ul class="unstyled">
          <% _.each(details.errors, function(error) { %><li><%= error %></li><% }); %>
        </ul>
      </td>
    </tr>
  <% } %>
<% }); %>
  </tbody>
</table>

