<div class="row">
  <div class="span6">
  <h3 id="process-title" ><%- templateData.processTitle %></h3>
  </div>

  <div class="span3 offset3">
    <h4 class="pull-right">User: <%- templateData.user %></h4>
  </div>
</div>

<div id="step1" class="step-row row "></div>

<div class="row">
  <div id="step2" class="step-row span12"> </div>
</div>

<div id="buttonRack" class="row">
  <div class="span12">
    <form class="form-inline pull-right ">
  <% if (_.contains(_.pluck(templateData.buttons, 'action'), 'print')) { %>
  <label for="printer-select">Current Printer:</label>
  <select class="printer-select" name="printer-select">
    <% _.each (templateData.printerList, function (printer, pos) { %>
    <option value="<%- printer.name %>" <%= (templateData.defaultPrinter===printer.name)?'selected':'' %> ><%- printer.friendlyName %></option>
    <% }); %>
  </select>
  <% } %>
  <% _.each (templateData.buttons, function (buttonsDetails) { %>
  <button class="btn <%- buttonsDetails.action %>Button" disabled="disabled"><%- buttonsDetails.title %></button>
  <% }); %>
    </form>
  </div>
</div>
