<header class="alert">
    <h3 id="process-title" class="pull-left"><%- rc.processTitle %></h3>
    <h3 class="pull-right">User Barcode: <%- rc.user %></h3>
</header>

<h2 class="title">Binding Complete for order: </h2>
<hr/>
<div class="row0" style="display:inline-table; height:250px;"></div>
<div class="row1" style="display:inline-table; height:250px;"></div>
<div class="row2" style="display:inline-table; height:250px;"></div>
<div class="row3" style="display:inline-table; height:250px;"></div>
<div class="row4" style="display:inline-table; height:250px;"></div>
<div class="row5" style="display:inline-table; height:250px;"></div>
<div class="row6" style="display:inline-table; height:250px;"></div>
<div class="row7" style="display:inline-table; height:250px;"></div>
<div class="row8" style="display:inline-table; height:250px;"></div>
<div class="row9" style="display:inline-table; height:250px;"></div>
<div class="row10" style="display:inline-table; height:250px;"></div>
<div class="row11" style="display:inline-table; height:250px;"></div>
<p align="right">
    <button class="btn finishButton">Finish Binding</button>
</p>