<header class="alert">
    <h3 id="process-title" class="pull-left"><%- rc.processTitle %></h3>
    <h3 class="pull-right">User Barcode: <%- rc.user %></h3>
</header>

<div id="kitPageHeader" style="overflow: hidden">
    <div class="kitSelection">
        <div class="barcode"></div>
        Kit Type
        <select class="kitSelect">
            <option>DNA</option>
            <option>RNA</option>
            <option>DNA/RNA</option>
        </select></div>
    <div class="validationSection">
      <div class="validationText"></div>
      <button class="btn kitSavePrintButton">Save &amp; print BC</button>
    </div>
</div>
<h2>Start Transfers</h2>
<hr/>
<div class="row0"></div>
<div class="row1"></div>
<div class="row2"></div>
<div class="row3"></div>
<div class="row4"></div>
<div class="row5"></div>
<div class="row7"></div>
<div class="row6"></div>
<div class="row8"></div>
<div class="row9"></div>
<div class="row10"></div>
<div class="row11"></div>
<p align="right">
    <button class="btn nextBtn">Next</button>
</p>
