<div> <!-- style="background: #e0ffff ; position: absolute">-->
    <!--<div style="background: #fafad2; width:200px; top:0; float: left;">-->
    <!--<div style="">Add</div>-->
    <!--</div>-->
    <div style="">
        <div id="accordion">
            <h3>1 - Scan the rack barcodes</h3>
            <div class="process-step">
                <div>
                    <div id="barcodeReader"/>
                </div>
                <ul id="rack-list">
                </ul>
                <div style="position: relative; padding: 30px">
                    <button id="start-rerack-btn" style="position: absolute; right:20px">
                        Start reracking
                    </button>
                </div>
            </div>
            <h3>2 - Print barcode for the new rack</h3>
            <div class="process-step">
                <div style="position: relative; padding: 30px">
                    <label for="printer-select">Current Printer:</label>
                    <select class="printerSelect" id="printer-select">
                        <% _.each (templateData.printerList, function (printer) { %>
                        <option value="<%- printer.name %>"><%- printer.name %></option>
                        <% }); %>
                    </select>
                    <button id="print-rerack-btn" style="position: absolute; right:20px">
                        Print barcode
                    </button>
                </div>
            </div>
            <h3>3 - Load new rack content</h3>
            <div class="process-step">
                <div style="" id="output">
                    <div class="kitSelection">
                        <input type="file" accept="text/csv" class="hiddenFileInput hide">

                        <div class="dropzone">
                            <div class="dropzoneBox">Drop the file here, or click.</div>
                            <div class="labware output-labware"></div>
                        </div>
                        <button id="rerack-btn">
                            rerack
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="validationText alert hide">Transfer completed.</div>
    </div>
</div>


