<header class="alert">
  <h3 id="process-title" class="pull-left"><%- templateData.processTitle %></h3>

  <h3 class="pull-right">User Barcode: <%- templateData.user %></h3>
</header>

<div id="step1" class="step-row"></div>
<div id="step2" class="step-row"></div>

<div id="buttonRack" style="float:right">
  <% if (_.contains(_.pluck(templateData.buttons, 'action'), 'print')) { %>
  Select printer:
  <select class="printerSelect">
    <% _.each (templateData.printerList, function (printer) { %>
    <option value="<%- printer.name %>"><%- printer.friendlyName %></option>
    <% }); %>
  </select>
  <% } %>
  <% _.each (templateData.buttons, function (buttonsDetails) { %>
  <button class="btn <%- buttonsDetails.action %>Button" disabled><%- buttonsDetails.title %></button>
  <% }); %>
</div>
