<header class="alert">
  <h3 id="process-title" class="pull-left"><%- underscoreResource.processTitle %></h3>

  <h3 class="pull-right">User Barcode: <%- underscoreResource.user %></h3>
</header>

<div id="step1" class="row"></div>
<div id="step2" class="row"></div>

<div id="buttonRack" style="float:right">
  <% if (_.contains(_.pluck(underscoreResource.buttons, 'action'), 'print')) { %>
  Select printer:
  <select class="printerSelect">
    <% _.each (underscoreResource.printerList, function (printer) { %>
    <option value="<%- printer.name %>"><%- printer.friendlyName %></option>
    <% }); %>
  </select>
  <% } %>
  <% _.each (underscoreResource.buttons, function (buttonsDetails) { %>
  <button class="btn <%- buttonsDetails.action %>Button"><%- buttonsDetails.title %></button>
  <% }); %>
</div>
