<header class="alert">
  <h3 id="process-title" class="pull-left"><%- templateData.config.processTitle %></h3>
</header>
<div>
  <h4>Batch Information</h4>
</div>
<table border="1">
  <thead>
    <tr>
      <th>Order UUID</th>
      <th>Role</th>
      <th>Status</th>
      <th>Type</th>
      <th>Labware Barcode</th>
      <th>Sanger Barcode</th>
      <th>Batch UUID</th>
    </tr>
  </thead>
  <tbody>
    <% _.each (templateData.items, function (item) { %>
    <tr class="<%- item.display_format %>">
      <td><%- item.order_uuid %></td>
      <td><%- item.role %></td>
      <td><%- item.status %></td>
      <td><%- item.type %></td>
      <td><%- item.barcode %></td>
      <td><%- item.sanger_barcode %></td>
      <td><%- item.batch_uuid %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="validationText alert" style="display:none"></div>
