<div class="component">
  <h2 class="component-title">Create a new manifest</h2>
  <div class="well well-small">
    <form onsubmit="return false;">
      <div class="columnLeft">
        <div class="manifest-options">
          <div class="template-selection-box">
            <label for="xls-templates">Template:</label>
            <select class="xls-templates" id="xls-templates">
              <% _.each (templates, function (template, name) { %>
              <option value="<%- name %>"><%- template.friendly_name %></option>
              <% }); %>
            </select>
          </div>
          <div class="template-selection-box">
            <label for="samplePrefixes">Sample Type:</label>
            <select class="samplePrefixes" id="samplePrefixes"></select>
          </div>
          <div class="template-selection-box">
            <label for="studies">Study:</label>
            <select class="studies" id="studies"></select>
          </div>
        </div>
      </div>
      <div class="columnRight">
        <div id="custom-fields"></div>
        <div class="template-selection-box">
          <label for="number-of-sample">Number of Samples Required:</label>
          <input id="number-of-sample" type="text" value="1">
        </div>
        <button id="generateManifest" class="btn">Generate Manifest</button>
        <button id="downloadManifest" class="btn">Download Manifest</button>
        <div id="printer-div"></div>
      </div>
    </form>
  </div>
</div>
