<div>
<h3>Barcode: <%= title %></h3>
<div id="itemBarcode"></div>
  <table class="table table-striped table-hover">
    <thead>
    <tr><th>Event</th><th>Action</th><th>Role</th><th>Status</th><th>Batch</th><th>Order</th>
    </thead>
<tbody>
<% _.each(items, function(item, pos) { %> 
<tr class="item-<%= pos %>">
<td><select>
<option>reset</option>
<option>start</option>
<option>complete</option>
<option>unuse</option>
</select></td>
<td><button>Send</button></td>
<td><%= item.role %></td><td><%= item.status %></td><td><%= item.batch %></td><td><%= item.order %></td>
</tr>
<% }) %>
</tbody>
</table>
</div>